@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

/* mobile-first design*/
*{
    box-sizing: border-box;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{ /*wrap our content in the body*/
    background-image: url('images/bg.jfif');
    background-repeat: no-repeat;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 100%;
}

.subtitle{
    font-size: 12px;
    font-style: italic;
}

.flexNav{
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
}

h1{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    letter-spacing: 4px;
    align-items: center;
}

hr{
    margin-top: 20px;
    border-style:groove;
    border-color: rgba(119, 119, 119, 0.13);
    border-width: 1px;
    width: 80%;
}

section{
    font-size: 12px;
    margin-left: 15%;
    margin-right: 15%;
}

/* "LOVE HATE" */
a{ text-decoration: none; } /*remove link underline default*/

a:link{
    color:rgb(80, 104, 119);
    /* color:rgb(208, 231, 104); */
}

a:visited{
    color:rgb(9, 54, 82);
}

a:hover{
    color:rgb(141, 182, 207);
}

a:active{
    color:rgb(64, 190, 190);
}

/* desktop design*/
@media screen and (min-width: 600px) {
    .wrapper{
        margin-left: 6%;
        margin-right: 6%;
    }

    h1{
        font-size: 47px;
        align-items: flex-start;
        letter-spacing: 4px;
        padding-top: 12%;
        margin-left: 20%;
    }

    hr{
        width: 40%;
    }

    .flexNav{
        display: flex;
        font-size: 13px;
        justify-content: center;
    }

    a{
        margin: 0px 8px;
    }
}