@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

/* mobile-first design*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    color: black;
    overflow: scroll;
}

.wrapper{ /*wrap our content in the body*/
    margin: 3% 3% 10% 3%;
    padding-bottom: 100%;
    background-color:rgb(255, 255, 255);
    background-image: url('images/bg7.jpg');
    height: 100%;
    background-repeat: no-repeat;
    
}

.subtitle{
    font-size: 12px;
    font-style: italic;
}

legend{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

fieldset{
    background-color: rgba(216, 216, 216, 0.664);
    width: 50%;
    height: 340px;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 0;
    text-align: left;

}

fieldset textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

.flexNav{
    margin-top: 3%;
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
}

h1{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    letter-spacing: 4px;
    align-items: center;
}

h2{
    font-size: 18px;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 4%;
}

h3 img{
    width: 14px;
}

hr{
    margin: 20px auto;
    border-style: groove;
    border-color: rgba(119, 119, 119, 0.13);
    border-width: 1px;
    width: 80%;
}

section{
    font-size: 12px;
    margin-left: 15%;
    margin-right: 15%;
}

.placeholder{
    float: right;
    width: 35%;
    margin-left: 10%;
    background-color: blue;
}

.portfolioItem{
    margin-bottom: 28%;
}

.portfolio a:link{
    color:rgb(218, 182, 66);
}

.icons{
    display: flex;
    justify-content: center;
}

.icons img{
    padding: 10px;
}

/* "LOVE HATE" */
a{ text-decoration: none; } /*remove link underline default*/

a:link{
    color:rgb(80, 104, 119);
}

a:visited{
    color:rgb(9, 54, 82);
}

a:hover{
    color:rgb(141, 182, 207);
}

a:active{
    color:rgb(64, 190, 190);
}

/* desktop design*/
@media screen and (min-width: 600px) {

    .wrapper{
        margin-left: 6%;
        margin-right: 6%;
    }

    h1{
        font-size: 67px;
        align-items: flex-start;
        letter-spacing: 4px;
        padding-top: 12%;
        margin-left: 20%;
    }

    hr{
        width: 40%;
    }

    .flexNav{
        margin-top: 4%;
        display: flex;
        font-size: 13px;
        justify-content: center;
    }

    nav a{
        margin: 0px 8px;
    }

    fieldset{
        width: 50%;
        margin-left: 25%;
        text-align: left;
    }
}